.notSupport {
  background: #e82f56;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
}

.notSupport h2 {
  padding-bottom: 25px;
}

.notSupport p {
  font-weight: bold;
}

.notSupport p span {
  color: #9dc237;
}
