.inspiration {
  background: #1368ce;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: clamp(1250px, auto, 1600px);
}

.inspiration h1 {
  text-align: center;
}

.inspiration h1 {
  color: #fff;
  padding: 40px 30px;
  font-size: 44px;
}

.inspiration-cards {
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: clamp(1250px, 50vw, 1600px);
}

@media (max-width: 500px) {
  .inspiration-cards {
    margin-left: 10vw;
  }

  @media (max-width: 360px) {
    .inspiration-cards {
      margin-left: 5%;
    }
  }
}
