.exampleWithPhoto {
  flex-direction: column;
  margin-top: auto;
  padding: 0 4rem;
}

.exampleWithPhoto img {
  height: 300px;
  width: 360px;
  margin: auto auto;
}

.example-text {
  text-align: center;
  padding-top: 1rem;
}
