.exmples {
  padding-top: 100px;
}

.exmples .three-examples {
  justify-content: center;
  margin: 1rem 1rem;
}

.exmples > h1 {
  text-align: center;
  color: rgb(51, 51, 51);
  font-weight: 900;
  line-height: 44px;
  line-height: 2;
}
