.exampleWithPhoto {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
}

.exampleWithPhoto img {
  height: 300px;
  width: 300px;
  margin: auto auto;
}

.example-text {
  text-align: center;
  padding-top: 1rem;
}
