.gray {
  /* max-width: 1900px;
  max-height: 800px; */
  background-color: #cccccc;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.white {
  /* max-width: 1900px;
  max-height: 800px; */
  background-color: white;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
